<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95382800947-7pk1ts2gkh5edt18privtt5dkkcl0kn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95382800947-7pk1ts2gkh5edt18privtt5dkkcl0kn5</string>
	<key>API_KEY</key>
	<string>AIzaSyA1l0eDMqbCaKjRfSqxmehDlTG1QigOYBo</string>
	<key>GCM_SENDER_ID</key>
	<string>95382800947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kulichkin.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-3e3f2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-3e3f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95382800947:ios:68ec84d8e88f767195b146</string>
</dict>
</plist>